<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title>checkout</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="ion-margin-bottom" lines="none" mode="md">
    <ion-item *ngFor="let db of pesanan">
      <ion-thumbnail slot="start">
        <img
          [src]="'https://firebasestorage.googleapis.com/v0/b/pesan-ayam.appspot.com/o/produk%2F' + db.id + '.jpg?alt=media&token=e40d2cd4-8b11-4918-b4eb-34fe90d36be8&sec=' + sec"
          onerror="this.onerror=null;this.src='assets/images/noimage.png'">
      </ion-thumbnail>
      <ion-label class="ion-text-wrap ion-no-margin ion-no-padding">
        <ion-grid>
          <ion-row class="ion-align-items-center">
            <ion-col class="ion-no-padding">
              <div class="text bold">{{db.nama_produk}}</div>
              <div class="text">Rp {{db.harga_jual | number}} x {{db.kuantiti}}</div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list class="ion-margin-bottom" lines="none" mode="md">
    <ion-item>
      <ion-label>
        <div class="text bold" style="font-size: 16px;">
          Total : Rp {{total_bayar | number}}
        </div>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list class="ion-margin-bottom" lines="none" mode="md">
    <ion-item>
      <ion-label class="ion-text-wrap">
        <div class="text">
          Alamat Kirim :
        </div>
        <div style="position: relative;">
          <div class="peta" #mapElement style="position:relative;"></div>
          <img src="assets/icons/pin.png"
            style="position:absolute;top:50%;left:50%;margin-left:-16px;margin-top:-32px ">
        </div>
        <div id="alamat_geo"></div>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list class="ion-margin-bottom" lines="none" mode="md">
    <ion-item class="ion-text-wrap">
      <div class="text" style="width:100%;">
        <ion-label>Catatan :</ion-label>
        <ion-textarea placeholder="catatan tambahan" style="border:1px solid #bbb;" [(ngModel)]="catatan"></ion-textarea>
      </div>
    </ion-item>
  </ion-list>

  <div class="ion-margin-vertical ion-padding">
    <ion-button color="success" expand="block" (click)="checkout()">
      Checkout
    </ion-button>
  </div>

</ion-content>