<ion-header>
  <ion-toolbar>
    <ion-title>Pesan Ayam</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen style="--background:#fff">

  <ion-list *ngIf="data.length==0">
    <ion-item *ngFor="let db of skl_array">
      <ion-thumbnail slot="start">
        <ion-skeleton-text animated style="height:100%;"></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label class="ion-text-wrap">
        <ion-skeleton-text animated style="height:58px;"></ion-skeleton-text>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list lines="none" mode="md">
    <ion-item *ngFor="let db of data">
      <ion-thumbnail slot="start">
        <img
          [src]="'https://firebasestorage.googleapis.com/v0/b/pesan-ayam.appspot.com/o/produk%2F' + db.id + '.jpg?alt=media&token=e40d2cd4-8b11-4918-b4eb-34fe90d36be8&sec=' + sec"
          onerror="this.onerror=null;this.src='assets/images/noimage.png'">
      </ion-thumbnail>
      <ion-label class="ion-text-wrap ion-no-margin ion-no-padding">
        <ion-grid>
          <ion-row class="ion-align-items-center">
            <ion-col class="ion-no-padding">
              <div class="text bold">{{db.nama_produk}}</div>
              <div class="text">Rp {{db.harga_jual | number}}</div>
            </ion-col>
            <ion-col class="ion-no-padding" size="auto">
              <ion-button color="light" expand="block" size="small" style="width:20px;"
                (click)="kurang(db.id,db.harga_jual,db.kuantiti)">-
              </ion-button>
            </ion-col>
            <ion-col size="auto" class="ion-align-self-center">
              <div class="ion-text-center text-number" style="width:20px">{{db.kuantiti}}</div>
            </ion-col>
            <ion-col class="ion-no-padding" size="auto">
              <ion-button color="light" expand="block" size="small" style="width:20px;"
                (click)="tambah(db.id,db.harga_jual)">+
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-label>
    </ion-item>
  </ion-list>

  <!-- <div style="height: 150px;"></div> -->
</ion-content>

<ion-footer class="ani-popup" style="padding: 6px;">
  <ion-grid style="background-color:#eee;border-radius: 8px;">
    <ion-row>
      <ion-col>
        <div class="text" style="font-size: 16px;">Rp {{total_bayar | number}}</div>
        <div class="text">{{total_kuantiti}} item</div>
      </ion-col>
      <ion-col>
        <ion-button color="success" expand="block" (click)="pesan()">Pesan</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>