<ion-tabs>

  <ion-tab-bar slot="bottom" color="danger" mode="md">
    <ion-tab-button tab="beranda">
      <ion-icon name="home"></ion-icon>
      <ion-label>Beranda</ion-label>
    </ion-tab-button>

    <!-- <ion-tab-button tab="keranjang">
      <ion-icon name="cart"></ion-icon>
      <ion-label>Keranjang</ion-label>
    </ion-tab-button> -->

    <ion-tab-button *ngIf="loggedin" tab="pesanan">
      <ion-icon name="bicycle"></ion-icon>
      <ion-label>Pesanan</ion-label>
    </ion-tab-button>

    <ion-tab-button *ngIf="loggedin" tab="akun">
      <ion-icon name="person"></ion-icon>
      <ion-label>Akun</ion-label>
    </ion-tab-button>

    <ion-tab-button *ngIf="loggedin==false" tab="login">
      <ion-icon name="person"></ion-icon>
      <ion-label>Login</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
