<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="arrow-back" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title>Nama Produk</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="assets/images/noimage.png">
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar color="light">
    <ion-button color="success" expand="full">Pesan</ion-button>
  </ion-toolbar>
</ion-footer>