ion-item {
  --background: transparent;
}

ion-input {
  --background: #fff;
  border-radius: 6px;
  --padding-bottom: 0 !important;
  --padding-end: 8px !important;
  --padding-start: 8px !important;
  --padding-top: 0 !important;
}
