<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ion-margin ion-padding ion-text-center">
    <img src="assets/images/chicken.png" width="60px">
  </div>


  <ion-item class="ion-padding-horizontal" lines="none">
    <ion-label position="stacked">No. HP :</ion-label>
    <ion-input type="tel" [(ngModel)]="form_login.nomor_hp"></ion-input>
  </ion-item>

  <br>

  <ion-item class="ion-padding-horizontal" lines="none">
    <ion-label position="stacked">Password :</ion-label>
    <ion-input type="password" [(ngModel)]="form_login.password"></ion-input>
  </ion-item>

  <div class="ion-padding ion-margin ion-text-center">
    <ion-button color="success" style="min-width:160px;padding:0 !important;" (click)="login()">Login</ion-button>
    <br>
    <ion-button color="primary" fill="clear" [routerLink]="['/registrasi']"
      style="min-width:160px;padding:0 !important;">Registrasi Baru</ion-button>
  </div>

</ion-content>