<ion-header>
  <ion-toolbar>
    <ion-title>Akun</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-content class="ion-no-padding">
      <div class="ion-padding ion-text-center">
        <img class="avatar" src="assets/images/user.png">
      </div>

      <ion-list lines="none">
        <ion-item>
          <ion-label>
            <div class="text" style="font-size: 12px;">Nama :</div>
            <div class="text">{{akun.nama}}</div>
          </ion-label>
          <ion-button color="medium" fill="outline" size="small" slot="end" (click)="editNama(akun.nama)">ubah
          </ion-button>
        </ion-item>
        <ion-item>
          <ion-label>
            <div class="text" style="font-size: 12px;">No. HP:</div>
            <div class="text">{{akun.nomor_hp}}</div>
          </ion-label>
          <ion-button color="medium" fill="outline" size="small" slot="end" (click)="editNomorHP(akun.nomor_hp)">ubah
          </ion-button>
        </ion-item>
        <ion-item>
          <ion-label>
            <div class="text" style="font-size: 12px;">Password</div>
            <div class="text">******</div>
          </ion-label>
          <ion-button color="medium" fill="outline" size="small" slot="end" (click)="editPassword()">ubah</ion-button>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <div class="ion-padding ion-margin-vertical">
    <ion-button color="danger" expand="block" (click)="keluar()">Keluar</ion-button>
  </div>

  <div class="ion-text-center ion-padding-vertical ion-margin-vertical">
    <div class="text">Hubungi Kami :</div>
    <a class="text" href="tel:085725439887" style="font-size: 16px;font-weight: 700;text-transform: none;">
      <img src="assets/icons/whatsapp.png" width="14"> Nur Rohmat 0857-2543-9887
    </a>
  </div>
</ion-content>