<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="arrow-back" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title>Registrasi Baru</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <br>

  <ion-item class="ion-padding-horizontal" lines="none">
    <ion-label position="stacked">Nama Lengkap :</ion-label>
    <ion-input type="text" [(ngModel)]="registrasi.nama"></ion-input>
  </ion-item>

  <br>

  <ion-item class="ion-padding-horizontal" lines="none">
    <ion-label position="stacked">No. HP :</ion-label>
    <ion-input type="tel" [(ngModel)]="registrasi.nomor_hp"></ion-input>
  </ion-item>

  <br>

  <ion-item class="ion-padding-horizontal" lines="none">
    <ion-label position="stacked">Password :</ion-label>
    <ion-input type="password" [(ngModel)]="registrasi.password"></ion-input>
  </ion-item>
  <br>

  <ion-item class="ion-padding-horizontal" lines="none">
    <ion-label position="stacked">Konfirmasi Password :</ion-label>
    <ion-input type="password" [(ngModel)]="registrasi.password_konfirmasi"></ion-input>
  </ion-item>

  <div class="ion-padding ion-margin ion-text-center">
    <ion-button color="success" style="min-width:160px;padding:0 !important;" (click)="register()">Registrasi
    </ion-button>
  </div>

</ion-content>